!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Anyvine
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "", :name => "description"}/
    = stylesheet_link_tag "application"
    %link{:href => "javascripts/fancybox/jquery.fancybox-1.3.1.css", :rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag :defaults, 'jquery.scroll.js', 'jquery.serialScroll.js', 'fancybox/jquery.fancybox-1.3.1.pack.js', 'jquery.tools.js', 'slickapp'
    = csrf_meta_tag
    = yield(:head)
  %body
    #top_bar
    #top_content_wrap
      #top_content.page
        = yield
    #page_seperator   
    #partners
      %span
        %h3 In Partnership With
        = link_to image_tag("partners/wine_searcher.jpg", :title => "Wine-Searcher"),"http://wine-searcher.com", :target => "_blank"
    #nav      
    #footer.page
      / Start Footer
      .top
        %img{:alt => "", :src => "images/logo_footer.jpg"}/
        %ul
          %li.twitter
            %a{:href => "http://twitter.com/#!/anyvine"} Twitter
          %li.facebook
            %a{:href => "http://www.facebook.com/pages/Anyvine/210679692318174"} Facebook
        .clear
      .bottom
        %a{:href => ""}
        %p Copyright © 2011 Anyvine.com. All Rights Reserved.
        .clear
    / End Footer