!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Anyvine
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "", :name => "description"}/
    = stylesheet_link_tag "application"
    %link{:href => "javascripts/fancybox/jquery.fancybox-1.3.1.css", :rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag :defaults, 'jquery.scroll.js', 'jquery.serialScroll.js', 'fancybox/jquery.fancybox-1.3.1.pack.js', 'jquery.tools.js', 'slickapp'
    = csrf_meta_tag
    = yield(:head)
  %body
    #top_bar
    #top_content_wrap
      / Start App Description
      #top_content.page
        #app_screenshot
          / Start App Screencast
          .price_badge
          .screencast
            %img{:alt => "", :src => "images/app_screenshot.jpg"}/
        / End App Screencast
        #app_description
          / Start App Description
          .header
            .logo= image_tag "anyvine_logo.png", :title => "Anyvine"
            .version Alpha
            .clear
          %p This is a test id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci.
          %ul
            %li Morbi eget ipsum sed ipsum tempus egestas
            %li Cras eget dolor vel nisi elementum sollicitudin
            %li Lorem ipsum dolor sit amet, consectetur adipiscing elit
            %li Curabitur lobortis facilisis ultricies
          .actions
            %a.app_store{:href => "#"} Available on the iPhone
            %p
              %b Requirements:
              Compatible with iPhone and iPod touch.
              Requires iPhone OS 2.2 or later. WiFi, Edge, or 3G network connection sometimes required.
            .clear
        / End App Description
        .clear
    #page_seperator
    #nav
      / Start Page Navigation
      %ul.tabs.page
        %li
          %a{:href => "#home"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#screenshots"} Screenshots
        %li
          %a{:href => "#release_notes"} Release Notes
        %li
          %a{:href => "#contact"} Contact
      .clear
    / End Page Navigation
    #bottom_content.page.panes
      #home.pane
        / Start Homepage
        #features
          / Start Features
          .feature
            .new
            .content
              .screenshot
                %img{:alt => "", :src => "images/feature_1.jpg"}/
                %a.screenshots{:href => "images/feature_1.jpg", :rel => "group"} Enlarge
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit cras eget.
            .bottom
          .feature
            .content
              .screenshot
                %img{:alt => "", :src => "images/feature_2.jpg"}/
                %a.screenshots{:href => "images/feature_2.jpg", :rel => "group"} Enlarge
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit cras eget.
            .bottom
          .feature.last
            .content
              .screenshot
                %img{:alt => "", :src => "images/feature_3.jpg"}/
                %a.screenshots{:href => "images/feature_3.jpg", :rel => "group"} Enlarge
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit cras eget.
            .bottom
          .clear
        / End Features
        #reviews_faqs
          #reviews
            / Start Reviews
            .review
              %p Installed in seconds and works perfectly, never experienced any bugs or errors when using.
              %span
                \- Some Guy
                %a{:href => ""} someguy.com
            .review
              %p Installed in seconds and works perfectly, never experienced any bugs or errors when using.
              %span
                \- Some Girl
                %a{:href => ""} somegirl.com
            .review
              %p Installed in seconds and works perfectly, never experienced any bugs or errors when using.
              %span
                \- Some Guy
                %a{:href => ""} someguy.com
            .review
              %p Installed in seconds and works perfectly, never experienced any bugs or errors when using.
              %span
                \- Some Girl
                %a{:href => ""} somegirl.com
            / Add more reviews here
          / End Reviews
          #faqs
            / Start FAQs
            .left_column
              .faq
                %b Where can I get support?
                %p Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui.
              .faq
                %b Another question?
                %p Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui. Etiam at risus et justo dignissim congue. Donec congue lacinia dui.
            .right_column
              .faq
                %b A third question?
                %p Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui.
              .faq
                %b A fourth question?
                %p Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui. Etiam at risus et justo dignissim congue. Donec congue lacinia dui.
            .clear
          / End FAQs
          .clear
      / End Homepage
      #about.pane
        / Start About Page
        .left
          %h2 We Make Slick Apps
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .right
          %h2 The Team
          %ul
            %li
              %img{:alt => "", :src => "images/team_member.jpg", :width => "60"}/
              %h3 Your Name
              %span Designer
              %a{:href => ""} Twitter
              \/
              %a{:href => ""} Website
            %li
              %img{:alt => "", :src => "images/team_member.jpg", :width => "60"}/
              %h3 Another Name
              %span Developer
              %a{:href => ""} Twitter
              \/
              %a{:href => ""} Website
            %li.last
              %img{:alt => "", :src => "images/team_member.jpg", :width => "60"}/
              %h3 Another Name
              %span Developer
              %a{:href => ""} Twitter
              \/
              %a{:href => ""} Website
            / Add more team members here
        .clear
      / End About Page
      #screenshots.pane
        / Start Screenshots Page
        %h2 App Screenshots
        %ul
          %li
            %a.screenshots{:href => "images/screenshot_1.jpg", :rel => "group_1"}
              %img{:alt => "", :src => "images/screenshot_1.jpg"}/
          %li
            %a.screenshots{:href => "images/screenshot_2.jpg", :rel => "group_1"}
              %img{:alt => "", :src => "images/screenshot_2.jpg"}/
          %li
            %a.screenshots{:href => "images/screenshot_3.jpg", :rel => "group_1"}
              %img{:alt => "", :src => "images/screenshot_3.jpg"}/
          %li
            %a.screenshots{:href => "images/screenshot_4.jpg", :rel => "group_1"}
              %img{:alt => "", :src => "images/screenshot_4.jpg"}/
        .clear
      / End Screenshots Page
      #release_notes.pane
        / Start Release Notes Page
        .release
          / Start Release
          .left
            %h3 Anyvine 1.2.5
            %span.date Released on 10/12/10
          .right
            %ul
              %li New: Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              %li New: Nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
              %li Fixed: Duis aute irure dolor in reprehenderit in voluptate velit dolore eu pariatur.
              %li Fixed: Sunt in culpa qui officia deserunt mollit anim id est laborum.
              %li Fixed: Proin quis tortor orci. Etiam at risus et justo dignissim congue.
          .clear
        / End Release
        .release
          .left
            %h3 Anyvine 1.2
            %span.date Released on 9/15/10
          .right
            %ul
              %li New: Nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
              %li Fixed: Sunt in culpa qui officia deserunt mollit anim id est laborum.
              %li Fixed: Duis aute irure dolor in reprehenderit in voluptate velit dolore eu pariatur.
          .clear
        .release.last
          .left
            %h3 Anyvine 1.1
            %span.date Released on 08/20/10
          .right
            %ul
              %li Fixed: Duis aute irure dolor in reprehenderit in voluptate velit dolore eu pariatur.
              %li Fixed: Sunt in culpa qui officia deserunt mollit anim id est laborum.
          .clear
      / Start Release Notes Page
      #contact.pane
        / Start Contact Page
        #contact_form
          .left
            %form{:action => "javascript:;", :method => "post"}
              / Start Contact Form
              %p
                %label Name
                %input#name.text_input{:name => "name", :type => "text"}/
              %p
                %label Email
                %input#email.text_input{:name => "email", :type => "text"}/
              %p
                %label Subject
                %select#topic.text_input{:name => "topic"}
                  %option{:value => "General Support"} General Support
                  %option{:value => "Bug Report"} Bug Report
              %p
                %label{:style => "height: 105px"} Message
                %textarea#message.text_input{:cols => "", :name => "message", :rows => ""}
              %p.validation All Fields Are Required
              %input#send.send{:src => "images/send.gif", :type => "image"}/
            / End Contact Form
          .right
            %b Get In Touch
            %p Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet.
            %a.email{:href => ""} info@Anyvine.com
            / Add your email here
          .clear
      / End Contact Page
    #footer.page
      / Start Footer
      .top
        %img{:alt => "", :src => "images/logo_footer.jpg"}/
        %ul
          %li.twitter
            %a{:href => ""} Twitter
          %li.facebook
            %a{:href => ""} Facebook
          %li.rss
            %a{:href => ""} RSS
        .clear
      .bottom
        %a{:href => ""}
          %img{:alt => "", :src => "images/app_store_small.gif"}/
        %p Copyright © 2010 Anyvine.com. All Rights Reserved.
        .clear
    / End Footer